[submodule "izrada-web-stranice-web-shop-franko-govic"]
	path = izrada-web-stranice-web-shop-franko-govic
	url = https://github.com/Trokut-Neet-Akademija-4-0/izrada-web-stranice-web-shop-franko-govic.git
